* {
    /* background-color: rgb(207, 208, 200); */
    list-style: none;
    /* font-family: 'Gowun Dodum', sans-serif; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    
}

header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 200fr;
    align-items: center;
}

h3 {
    /* 로고 아래의 '부산의 맛있는 가게' 글자 */
    font-family: 'Gowun Dodum', sans-serif;
    display: inline-block;
    align-items: center;
    color: rgb(32, 31, 31);
    margin: 0px 35px;
    padding: 0;
    font-size: 15px;
}

.title { 
    /* logo와 h3포함 */
    margin: 0px 10px 10px 0px
}


nav {
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}

.Btn{
    /* 우측 マップ, カテゴリー버튼 */
    width: 160px;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(54, 76, 65); 
    color: rgb(231, 231, 225);  
}

.nav1{
    margin-right: 10px;
}

ul {
    list-style: none;
    margin: 10px 10px;
    padding: 10;
    display: flex;
}


body {
    background-color: rgb(207, 208, 200);
}

h2 {
    font-size: 24px; 
}

.abc {
    width: 700px;
    height: auto;
    margin: 0 auto;
    background-color: #ECECEC;
    margin-bottom: 20px;
}

.Gobok-1-image {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.Gobok-1-txt {
    margin:auto;
    padding-left: 15px;
    font-size: 14px;
    color: black;
    background-color:  rgb(207, 208, 200);
    border: 1px solid  rgb(207, 208, 200);
    border-radius: 15px;
    width: 480px;
}

.Yakiya-1-image {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
}

.Yakiya-1-txt {
    margin:auto;
    padding-left: 15px;
    font-size: 14px;
    color: black;
    background-color:  rgb(207, 208, 200);
    border: 1px solid  rgb(207, 208, 200);
    border-radius: 15px;
    width: 480px;
}

.Ogongboki-image {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
}

.Ogongboki-txt {
    margin:auto;
    padding-left: 15px;
    font-size: 14px;
    color: black;
    background-color:  rgb(207, 208, 200);
    border: 1px solid  rgb(207, 208, 200);
    border-radius: 15px;
    width: 480px;
}

.FullFull-image {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
}

.FullFull-txt {
    margin:auto;
    padding-left: 15px;
    font-size: 14px;
    color: black;
    background-color:  rgb(207, 208, 200);
    border: 1px solid  rgb(207, 208, 200);
    border-radius: 15px;
    width: 480px;
}

.Moroo-image {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
}

.Moroo-txt {
    margin:auto;
    padding-left: 15px;
    font-size: 14px;
    color: black;
    background-color:  rgb(207, 208, 200);
    border: 1px solid  rgb(207, 208, 200);
    border-radius: 15px;
    width: 480px;
}

.Zyuchajang-image {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
}

.Zyuchajang-txt {
    margin:auto;
    padding-left: 15px;
    font-size: 14px;
    color: black;
    background-color:  rgb(207, 208, 200);
    border: 1px solid  rgb(207, 208, 200);
    border-radius: 15px;
    width: 480px;
}

.Nokcafe-1-image {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
}

.Nokcafe-1-txt {
    margin:auto;
    padding-left: 15px;
    font-size: 14px;
    color: black;
    background-color:  rgb(207, 208, 200);
    border: 1px solid  rgb(207, 208, 200);
    border-radius: 15px;
    width: 480px;
}

.Good-image {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
}

.Good-txt {
    margin:auto;
    padding-left: 15px;
    font-size: 14px;
    color: black;
    background-color:  rgb(207, 208, 200);
    border: 1px solid  rgb(207, 208, 200);
    border-radius: 15px;
    width: 480px;
}

.Baekgeumdang-image {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
}

.Baekgeumdang-txt {
    margin:auto;
    margin-bottom: 70px;
    padding-left: 15px;
    font-size: 14px;
    color: black;
    background-color:  rgb(207, 208, 200);
    border: 1px solid  rgb(207, 208, 200);
    border-radius: 15px;
    width: 480px;
}

.Copyright {
    background-color: #219181;
    position: absolute;
    width: 99%;
    font-size: 12px;
    color: black;
}